# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.eggs/
dist/
build/
*.whl
*.egg

# Virtual environment
venv/
env/
.env

# Config files
*.log

# Docker dependencies
*.db
*.sqlite3

# IDE/Editor files
.idea/
.vscode/
*.swp

# Cache files
cache/
*.pyc
